@model Clienti
@{
    ViewData["Title"] = "Login";
    string? err = TempData["err"]?.ToString();
    string? accesso = TempData["accesso"]?.ToString();
}

<div class="text-center lreg">

    <form id="FormLogin" method="post" asp-controller="Sessione" asp-action="Login" >

            <input type="text" asp-for=Username placeholder="Username" /><br />

            <input type="password" asp-for=Password placeholder="Password" /><br />
            <span>@err</span><br />
            <span>@accesso</span><br />


            <input type="submit" value="Login">
        </form>
    
    

</div>
